header {
    list-style-type: none;
  }
  
  .header-header {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-container-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-web {
    margin-right: 93px;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
  }
  
  .header-studio {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  
  .header-port-cont {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color var(--transition-duration-and-func);
  }
  
  .header-hover-focus:hover,
  .header-hover-focus:focus {
    color: #2196F3;
  }
  
  .header-list {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
  
  .header-container-ul__header-li:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-social-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-social-ul__header-social-li:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-li:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-tel {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--transition-duration-and-func);
  }
  
  .header-tel-image {
    fill: currentColor;
    margin-right: 10px;
  }
  
  .header-mail {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--transition-duration-and-func);
  }
  
  .header-contact {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color var(--transition-duration-and-func);
  }